<div class="">
  <section class="menu-crud">
    <h2 class="h2-crud">Cadastros</h2>
    <nav>
      <ul>
        <li><%= link_to 'Alunos', register_students_path %></li>
        <li><%= link_to 'Cursos', register_courses_path %></li>
        <li><%= link_to 'Matrículas', register_classrooms_path %></li>
      </ul>
    </nav>
  </section>
</div>
